.htaccess
.htaccess.sample
RELEASE_NOTES.txt
cron.php
/diseno/
/djudy/
/dontest/
favicon.ico
/firmas/
/var/
/errors/local.xml
/app/etc/local.xml
/media/
google6171b70453b714ac.html
install.php
php_errorlog
.DS_Store
Thumbs.db
