<?xml version="1.0"?>
<config>
	<modules>
		<Ebcomm_PaypalMx>
			<version>1.0.5</version>
		</Ebcomm_PaypalMx>
	</modules>
	<global>
		<models>
			<paypalmx>
				<class>Ebcomm_PaypalMx_Model</class>
				<resourceModel>paypalmx_resource</resourceModel>
			</paypalmx>
			<paypalmx_resource>
				<class>Ebcomm_PaypalMx_Model_Resource</class>
				<deprecatedNode>paypalmx_mysql4</deprecatedNode>
				<entities>
					<api_debug>
						<table>paypalmx_api_debug</table>
					</api_debug>
					<cert>
						<table>paypalmx_cert</table>
					</cert>
					<payment_transaction>
						<table>paypalmx_payment_transaction</table>
					</payment_transaction>
				</entities>
			</paypalmx_resource>
		</models>
		<helpers>
			<paypalmx>
				<class>Ebcomm_PaypalMx_Helper</class>
			</paypalmx>
		</helpers>
		<blocks>
			<paypalmx>
				<class>Ebcomm_PaypalMx_Block</class>
			</paypalmx>
		</blocks>
	</global>
	<frontend>
        <translate>
        <modules>
            <Ebcomm_PaypalMx>
                <files>
                    <default>Ebcomm_PaypalMx.csv</default>
                </files>
            </Ebcomm_PaypalMx>
        </modules>
    </translate>
		<secure_url>
			<paypal_mexico>/paypalmx/express</paypal_mexico>
		</secure_url>
		<routers>
			<paypalmx>
				<use>standard</use>
				<args>
					<module>Ebcomm_PaypalMx</module>
					<frontName>paypalmx</frontName>
				</args>
			</paypalmx>
		</routers>
		<layout>
			<updates>
				<paypalmx>
					<file>paypalmx.xml</file>
				</paypalmx>
			</updates>
		</layout>
		<secure_url>
			<paypalmexico_callbackshippingoptions>paypalmx/express/callbackshippingoptions
			</paypalmexico_callbackshippingoptions>
		</secure_url>
		<events>
			<checkout_submit_all_after>
				<observers>
				SHORTCUT_popup	<hss_save_order_after_submit_mx>
						<class>paypalmx/observer</class>
						<method>saveOrderAfterSubmit</method>
					</hss_save_order_after_submit_mx>
				</observers>
			</checkout_submit_all_after>
			<controller_action_postdispatch_checkout_onepage_saveOrder>
				<observers>
					<hss_save_order_onepage_mx>
						<class>paypalmx/observer</class>
						<method>setResponseAfterSaveOrder</method>
					</hss_save_order_onepage_mx>
				</observers>
			</controller_action_postdispatch_checkout_onepage_saveOrder>
		</events>
	</frontend>
	<adminhtml>
		<translate>
        <modules>
            <Ebcomm_PaypalMx>
                <files>
                    <default>Ebcomm_PaypalMx.csv</default>
                </files>
            </Ebcomm_PaypalMx>
        </modules>
        </translate>
        <events>
            <adminhtml_init_system_config>
                <observers>
                    <paypalmx>
                        <class>paypalmx/observer</class>
                        <method>loadCountryDependentSolutionsConfig</method>
                    </paypalmx>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </adminhtml>
	<default>
		<paypalmx>
			<fetch_reports>
                <ftp_login backend_model="adminhtml/system_config_backend_encrypted"/>
                <ftp_password backend_model="adminhtml/system_config_backend_encrypted"/>
                <schedule>1</schedule>
                <time>00,00,00</time>
            </fetch_reports>
			<style>
				<paypal_hdrimg>https://dl.dropboxusercontent.com/u/105978444/Banner-CO-Amex-750x90_VF.png</paypal_hdrimg>
			</style>
		</paypalmx>
		<payment>
			<ppmx>
				<model>paypalmx/express</model>
				<title>PayPal</title>
				<payment_action>Sale</payment_action>
				<solution_type>Mark</solution_type>
				<method_type>2</method_type>
				<sort_order>0</sort_order>
				<line_items_enabled>1</line_items_enabled>
				<visible_on_shipping>1</visible_on_shipping>
				<allow_ba_signup>never</allow_ba_signup>
				<group>paypalmx</group>
				<authorization_honor_period>3</authorization_honor_period>
				<order_valid_period>29</order_valid_period>
				<child_authorization_number>1</child_authorization_number>
				<verify_peer>1</verify_peer>
			</ppmx>
			<ppmx_debito2>
				<model>paypalmx/debito2</model>
				<title>PayPal Debito</title>
				<payment_action>Sale</payment_action>
				<solution_type>Mark</solution_type>
				<method_type>3</method_type>
				<sort_order>0</sort_order>
				<line_items_enabled>1</line_items_enabled>
				<allow_ba_signup>never</allow_ba_signup>
				<group>paypalmx</group>
				<authorization_honor_period>3</authorization_honor_period>
				<order_valid_period>29</order_valid_period>
				<child_authorization_number>1</child_authorization_number>
				<verify_peer>1</verify_peer>
			</ppmx_debito2> 
			<ppmx_mensualidades2>
				<model>paypalmx/mensualidades2</model>
				<title>PayPal Mensualidades</title>
				<payment_action>Sale</payment_action>
				<solution_type>Mark</solution_type>
				<method_type>1</method_type>
				<sort_order>0</sort_order>
				<line_items_enabled>1</line_items_enabled>
				<allow_ba_signup>never</allow_ba_signup>
				<group>paypalmx</group>
				<authorization_honor_period>3</authorization_honor_period>
				<order_valid_period>29</order_valid_period>
				<child_authorization_number>1</child_authorization_number>
				<verify_peer>1</verify_peer>
			</ppmx_mensualidades2>
		</payment>
		
	</default>
	<crontab>
        <jobs>
            <paypalmx_fetch_settlement_reports>
                <run>
                    <model>paypalmx/observer::fetchReports</model>
                </run>
            </paypalmx_fetch_settlement_reports>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ebcomm_PaypalMx before="Mage_Adminhtml">Ebcomm_PaypalMx_Adminhtml</Ebcomm_PaypalMx>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config> 
